body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Red Hat Display', sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 2rem;
  font-weight: 900;
}

p {
  margin-bottom: 1.5rem;
}

button {
  font-family: 'Red Hat Display', sans-serif;
  border: 0px;
  padding: 1.7rem;
  width: 100%;
  border-radius: 2rem;
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
}
